**/target
.classpath
.project
.metadata
*.log
*~
bin-debug
bin-release
html-template
.actionScriptProperties
.flexProperties
playerglobal.swc
.flexLibProperties
*.orig
svn
.svnrepo
**/.cache
settings.xml
.DS_Store
.settings
.gwt
